<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Payment platform, the visual part designed to test a RESTful API I created myself">
    <meta name="keywords" content="REST, RESTful, API, payment">
    <meta property="og:title" content="Simplified PicPay">
    <meta property="og:description" content="Payment platform">
    <meta name="author" content="RaphaZ_RZ">
    <title>RESTful API</title>

    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
<header>
    <div id="title">
        <h1>
            Welcome to simplified Pic Pay
        </h1>
    </div>

    <nav>
        <a href="index.html">Main</a>
        <a href="createUser.html">Register User</a>
        <a href="findUser.html">Search for User</a>
        <a href="updateUser.html">Update User Password</a>
        <a href="deleteUser.html">Delete User</a>
    </nav>
</header>

<footer>

</footer>
</body>