<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Payment platform, the visual part designed to test a RESTful API I created myself">
    <meta name="keywords" content="REST, RESTful, API, payment">
    <meta property="og:title" content="Simplified PicPay">
    <meta property="og:description" content="Payment platform">
    <meta name="author" content="RaphaZ_RZ">
    <title>RESTful API</title>

    <link rel="stylesheet" href="../../../Html/SimplifiedPicPay/styles/index.css">
</head>

<body>
    <header>
        <div id="title">
            <h1>
                Welcome to simplified Pic Pay
            </h1>
        </div>
    </header>

    <main>
        <!-- Find user by id -->
        <label for="userIdInput">Find User By ID:</label>
        <input type="text" id="userIdInput" placeholder="Type user ID...">
        <button onclick="getUserById()">Search</button>
        <br>

        <!-- Find user by document -->
        <label for="userDocumentInput">Find User By Document:</label>
        <input type="text" id="userDocumentInput" placeholder="Type user document...">
        <button onclick="getUserByDocument()">Search</button>
        <br>

        <!-- Find all users -->
        <button onclick="getAllUsers()">Find All</button>
        <hr>

        <table id="usersTable">
            <tr>
                <th>Id</th>
                <th>First-Name</th>
                <th>Last-Name</th>
                <th>Document</th>
                <th>Email</th>
                <th>Password</th>
                <th>Balance</th>
                <th>User-Type</th>
            </tr>
        </table>
    </main>

    <footer>

    </footer>

    <script src="../../../Html/SimplifiedPicPay/scripts/requests.js"></script>
</body>